.btn {
    background-color: transparent;
    border: none;
    color: blue;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    margin-left: 80%;
}

.butn {
    background: #3498db;
    width: 180px;
    padding: 12px 0;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
    font-family: Roboto;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    border: none;
}
 .butn:hover {
     cursor: pointer;
 }



